# Build folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio files
.vscode/
.vs/

# Rider/JetBrains files
.idea/

# Logs and cache
*.log
*.tmp
*.cache

# OS files
.DS_Store
Thumbs.db